body {
    margin: 0;
    text-align: center;
}

.hd {
    background: #6943fe;
    color: white;
    padding: 30px;
}

.bd {
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;
    margin: 10px;
}