html, body {
    margin: 0;
    padding: 0;
    max-width:  490px;
    height: 100vh;
    border: 1px solid red;
    box-sizing: border-box;
}
.main-content {
    padding: 0 10px;
}
.me {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo {
    width: 100px;
}
hr {
    width: 370px;
}
.avatar {
    width: 40px;
}
.images {
    width: 100%;
}