body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000;
} 
h2 {
    font-size: 24px;
}
p{
    font-size: 16px;
}
.cover-head {
    background-image: url("images/humberger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    color: whitesmoke;
    opacity: 4px;
}
header, main {
    width: 400px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 30px;
    line-height: 0%;
    top: 30px;
}
.menu-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border-bottom: grey solid 2px;
    gap: 10px;
}
.imoji {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.details {
    margin-left: 30px;
    top: 30px;
}
.icon {
    width: 30px;
    height: 30px;
    margin: auto 0 auto auto;
}
.icon:hover {
    cursor: pointer;
    background-color: rgb(233, 124, 0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}