* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.progress-bar {
    width: 350px;
    height: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: limegreen;
    border-radius: 30px;
}

.loading {
    width: max-content;
    height: max-content;
    font-size: 30px;
    position: absolute;
    top: 60;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* The cicle progress style is going here */

.cir-progress {
    position: absolute;
    left: 47%;
    top: 30px;
    margin: auto;
}

.circle-p {
    stroke-dasharray: 189;
    stroke-dashoffset: 189;
}